@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	--clr-ship: #ef709d;
	--width: 40px;
	--height: 40px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #3772ff;
	font-family: 'Lato', sans-serif;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	border-bottom: 2px solid #f038ff;
}

.container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.title {
	color: #e2ef70;
}

.ships {
	margin-right: 0em;
	cursor: move;
}

.ship {
	display: flex;
}

.ship-vertical {
	display: flex;
	flex-direction: column;
}

.ship-width {
	width: var(--width);
	height: var(--height);
}

.destroyer-ship {
	width: calc(var(--width) * 2);
	height: var(--height);
	background-color: var(--clr-ship);
	margin-top: 2em;
}

.cruiser-ship {
	width: calc(var(--width) * 3);
	height: var(--height);
	background-color: var(--clr-ship);
	margin-top: 1em;
}

.cruiser-ship-2 {
	width: calc(var(--width) * 3);
	height: var(--height);
	background-color: var(--clr-ship);
	margin-top: 1em;
}

.battleship-ship {
	width: calc(var(--width) * 4);
	height: var(--height);
	background-color: var(--clr-ship);
	margin-top: 1em;
}

.carrier-ship {
	width: calc(var(--width) * 5);
	height: var(--height);
	background-color: var(--clr-ship);
	margin-top: 1em;
}

.destroyer {
	background-color: var(--clr-ship);
}

.cruiser {
	background-color: var(--clr-ship);
}

.battleship {
	background-color: var(--clr-ship);
}

.carrier {
	background-color: var(--clr-ship);
}

.taken {
	position: relative;
}

.destroyer-ship-vertical {
	width: var(--width);
	height: calc(var(--height) * 2);
	background-color: var(--clr-ship);
}

.cruiser-ship-vertical {
	width: var(--width);
	height: calc(var(--height) * 3);
	background-color: var(--clr-ship);
}

.battleship-ship-vertical {
	width: var(--width);
	height: calc(var(--height) * 4);
	background-color: var(--clr-ship);
}

.carrier-ship-vertical {
	width: var(--width);
	height: calc(var(--height) * 5);
	background-color: var(--clr-ship);
}

.rotate {
	position: absolute;
	left: 60px;
	top: 555px;
	color: #fff;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
}

.rotate:hover {
	color: #fff200;
}

.mini-container {
	margin-top: 2em;
	margin-right: 5em;
}

.name {
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.game-board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	margin-right: 40px;
}

#player {
	margin-left: 5em;
}

#plr2 > .taken {
	background-color: white;
	border: 1px solid #70e4ef;
}

.board-cell {
	width: 40px;
	height: 40px;
	background-color: white;
	border: 1px solid #70e4ef;
}

.dragging {
	opacity: 0.5;
}

.dropped {
	opacity: 0.5;
	cursor: not-allowed;
}
